*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
.externalNativeBuild
WhereWolf/.idea/*

WhereWolf/.idea/caches/build_file_checksums.ser
WhereWolf/.idea/gradle.xml
WhereWolf/.idea/misc.xml

Serveur/node_modules/
.directory